.jumbotron {
    padding: 10px;
}

th {
  text-align: center;
}

tr {
  text-align: center;
}

caption {
  font-weight: bold;
  font-size: 20px;
  background: #009e49;
  color: white;
}

.row-subheader {
  font-weight: bold;
}

#row-title-cub {
  background: rgb(228,14,0);
  padding: 3px 0px;
}

#row-title-envio {
  background: rgba(0,158,73,0);
  color: rgb(0,0,0);
}

#jumbo-producto {
  padding: 10px 30px;
}

#group-radio-usd {
  margin: 0px 0px;
}

#check-iva {
  margin-left: 10px;
}

.col-md-4.text-right > button {
  margin: 0px 2px;
  margin-top: 25px;
}

#main-menu {
  font-size: small;
  text-align: center;
  margin: auto;
}