<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/mermaid.min.css' ) }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/tabulator.min.css' ) }}">

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% block body %}
        
    {% endblock %}

    <script src="{{ url_for('static', filename= 'js/jquery-3.2.1.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename= 'js/bootstrap.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename= 'js/tabulator.min.js' ) }}"></script>
</body>
</html>