{% extends "base.html" %}
{% include "header.html" %}

{% block title %}
    HOME    
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <h2>Gestión de <b>Productos</b> <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Agregar Productos</button></h2>

                    <!-- Successful Employee added message -->
                    {% with messages = get_flashed_messages()  %}

                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissable" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                        <span aria-hidden="true">x</span>
                                    </button>
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                        
                    {% endwith %}

                    <table class="table table-hover table-dark">

                        <tr>
                            <th>SKU</th>
                            <th>PRODUCTO</th>
                            <th>CATEGORIA</th>
                            <th>SUB-CATEGORIA</th>
                            <th>ACCION</th>
                        </tr>

                        {% for row in all_data %}

                        <tr>
                            <td>{{row.id}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.email}}</td>
                            <td>{{row.phone}}</td>
                            <td>
                                <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                                <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete?')">Delete</a>
                            </td>
                        </tr>

                <!-- Modal Edit Employee -->
                <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Update Information</h4>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('update' ) }}" method="post">
                                    <div class="form-group">
                                        <label>Name:</label>
                                        <input type="hidden" name="id" value="{{row.id}}">
                                        <input type="text" name="name" value="{{row.name}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input type="email" name="email" value="{{row.email}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Phone:</label>
                                        <input type="number" name="phone" value="{{row.phone}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                        {% endfor %}

                    </table>
                </div>

                <!-- Modal Add Employee -->
                {# <div id="mymodal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add Employee</h4>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('insert' ) }}" method="post">
                                    <div class="form-group">
                                        <label>Name:</label>
                                        <input type="text" name="name" required="1" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Email:</label>
                                        <input type="email" name="email" required="1" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Phone:</label>
                                        <input type="number" name="phone" required="1" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Add Employee</button>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div> #}

            </div>
        </div>
    </div>
{% endblock %}
