{% extends "base.html" %}
{% include "header.html" %}

{% block title %}
    HOME    
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <h2>Gestión de <b>Productos</b> <button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#mymodal">Agregar Productos</button><button type="button" id="btn_print" class="btn btn-success float-right">Imprimir</button></h2>

                    <!-- Mensaje de producto agregado -->
                    {% with messages = get_flashed_messages()  %}

                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissable" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                        <span aria-hidden="true">x</span>
                                    </button>
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                        
                    {% endwith %}

                    <table class="table table-hover table-dark" id="html_table">

                        <tr>
                            <th>SKU</th>
                            <th>PRODUCTO</th>
                            <th>CATEGORIA</th>
                            <th>SUB-CATEGORIA</th>
                            <th>ACCION</th>
                        </tr>

                        {% for row in all_data %}

                        <tr>
                            <td>{{row.sku}}</td>
                            <td>{{row.nombre_producto}}</td>
                            <td>{{row.categoria}}</td>
                            <td>{{row.sub_categoria}}</td>
                            <td>
                                <a href="" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Ver</a>
                                <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('¿Está seguro de Borrar el producto?')">Borrar</a>
                            </td>
                        </tr>

                <!-- @note - Modal Edit Products -->
                <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Actualizar Información</h4>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('update' ) }}" method="post">
                                    <div class="form-group">
                                        <label>Producto:</label>
                                        <input type="hidden" name="id" value="{{row.id}}">
                                        <input type="text" name="nombre_producto" value="{{row.nombre_producto}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>SKU:</label>
                                        <input type="text" name="sku" value="{{row.sku}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Modelo:</label>
                                        <input type="text" name="modelo" value="{{row.modelo}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Marca:</label>
                                        <select name="marca">
                                            {% for marca in marca_data %}
                                                <option value="{{marca.id}}">{{marca.marca}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Categoría:</label>
                                        <select name="categoria_and_subcat">
                                            {% for categoria in categoria_data %}
                                                <optgroup label="{{categoria.categoria}}">
                                                    {% for sub_categoria in sub_categoria_data %}
                                                        {% if sub_categoria.padre == categoria.id %}
                                                            <option value="{{categoria.id}}-{{sub_categoria.id}}">{{sub_categoria.sub_categoria}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </optgroup>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Costo sin IVA:</label>
                                        <input type="number" name="costo_sin_iva" value="{{row.costo_sin_iva}}" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

                        {% endfor %}

                    </table>
                </div>

                {# @note - Table de libreria #}
                <div id="wrapper"></div>
                <div id="example-table"></div>

                <!-- @note - Modal Insert Products -->
                <div id="mymodal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Agregar Productos</h4>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('insert' ) }}" method="post">
                                    <div class="form-group">
                                        <label>Producto:</label>
                                        <input type="text" name="nombre_producto" value="" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>SKU:</label>
                                        <input type="text" name="sku" value="" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Modelo:</label>
                                        <input type="text" name="modelo" value="" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Marca:</label>
                                        <select name="marca">
                                            {% for marca in marca_data %}
                                                <option value="{{marca.id}}">{{marca.marca}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Categoría:</label>
                                        <select name="categoria_and_subcat">
                                            {% for categoria in categoria_data %}
                                                <optgroup label="{{categoria.categoria}}">
                                                    {% for sub_categoria in sub_categoria_data %}
                                                        {% if sub_categoria.padre == categoria.id %}
                                                            <option value="{{categoria.id}}-{{sub_categoria.id}}">{{sub_categoria.sub_categoria}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </optgroup>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Costo sin IVA:</label>
                                        <input type="number" name="costo_sin_iva" value="" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Agregar</button>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {# @note - JS Tabla #}
    <input id="test_id" type="text" value="{{test}}" hidden>

    <script>
        var js_test = document.getElementById("test_id").value;

        new gridjs.Grid({
            columns: ["SKU", "PRODUCTO", "CATEGORIA", "SUB-CATEGORIA"],
            data: JSON.parse("[" + js_test + "]"),
            search: true
        }).render(document.getElementById("wrapper"));
    </script>

    <script>
        var table = new Tabulator("#html_table", {
            rowHeader:{headerSort:false, resizable: false, frozen:true, headerHozAlign:"center", hozAlign:"center", formatter:"rowSelection", titleFormatter:"rowSelection", cellClick:function(e, cell){
                cell.getRow().toggleSelect();
            }},
            printAsHtml:true, //enable html table printing
            printStyled:true, //copy Tabulator styling to HTML table
            printHeader:"<h1>Example Table Header<h1>",
            printFooter:"<h2>Example Table Footer<h2>",
            columns:[],
        });

        table.on("rowClick", function(e, row){
            alert("Row " + row.getData().sku + " Clicked!!!!")
        });

        //print button
        document.getElementById("btn_print").addEventListener("click", function(){
            table.print(false, true);
        });
    </script>
{% endblock %}
